# R Specific
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rprofile
.Rapp.history
.RDataTmp

# Quarto & Knitr Output
.quarto/
*_files/
*_cache/
*.html
*.pdf
*.docx
*.epub

# temp
catboost_info/
.positai
outputs/*
models/*

# data
data/raw/*
data/shared/*
data/topics/*/*

# Mac
.DS_Store