# Filtered/Generated Jambi data (optional, but keep it tracked or ignored as needed)
# data/*_jambi.csv

# R Specific
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rprofile
.Rapp.history
.RDataTmp

# Quarto & Knitr Output
.quarto/
*_files/
*_cache/
*.html
*.pdf
*.docx
*.epub

# temp
klasifikasi_perokok_jambi.htmlcatboost_info/
.positai

# data
data/raw/*
data/processed/*
data/output/*

# Mac
.DS_Store